.model {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: 500px;
	background-color: #ffffff;
	border: 1px solid #d1ad75;
}

.modal-header,
.modal-footer {
	padding: 10px;
	text-align: center;
}

.modal-title {
	margin: 0;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
}

.modal-body {
	padding: 20px;
	border-top: 1px solid #d1ad75;
	border-bottom: 1px solid #d1ad75;
}

.modal-ad-type-section {
	margin-top: 2.5%;
}

.ad-type-title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.ad-type-body {
	text-align: justify;
	font-size: 20px;
	font-weight: 600;
}

.modal-ad-type-note {
	margin-top: 5%;
}

.ad-type-note-body {
	text-align: justify;
	font-size: 20px;
	font-weight: 600;
}
