.model {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-content {
	width: 500px;
	background-color: #ffffff;
	border: 1px solid #d1ad75;
}

.modal-header,
.modal-footer {
	padding: 10px;
	text-align: center;
	align-self: center;
}

.modal-title {
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.modal-body {
	padding: 18px;
}

.modal-ad-type-section {
	margin-top: 2.5%;
	padding: 0% 2%;
	border: 1px solid #ffffff;
	border-radius: 12px;
	background-color: #fafafa;
	box-shadow: 0px 0px 4px 0px;
}

.ad-type-title {
	text-align: center;
	font-size: 22px;
	font-weight: 600;
}

.ad-type-body {
	text-align: justify;
	font-size: 18px;
	font-weight: 600;
}

.modal-ad-type-note {
	margin-top: 5%;
}

.ad-type-note-body {
	text-align: justify;
	font-size: 18px;
	font-weight: 600;
}
